@import 'tailwindcss';

@layer utilities {
	.bg-cvt-all {
		background-image: linear-gradient(
			45deg,
			rgba(170, 188, 232, 1),
			rgba(255, 199, 153, 1),
			rgba(180, 217, 167, 1)
		);
	}
	.bg-cvt-blue {
		background-image: linear-gradient(
			45deg,
			rgba(250, 250, 250, 1),
			rgba(217, 222, 241, 1),
			rgba(250, 250, 250, 1)
		);
	}
	.bg-cvt-orange {
		background-image: linear-gradient(
			45deg,
			rgba(250, 250, 250, 1),
			rgba(255, 230, 204, 1),
			rgba(250, 250, 250, 1)
		);
	}
	.bg-cvt-green {
		background-image: linear-gradient(
			45deg,
			rgba(250, 250, 250, 1),
			rgba(217, 236, 211, 1),
			rgba(250, 250, 250, 1)
		);
	}
	.bg-cvt-gray {
		background-image: linear-gradient(
			0deg,
			rgba(250, 250, 250, 1),
			rgba(255, 255, 255, 1),
			rgba(250, 250, 250, 1)
		);
	}
}
